#wbip-links {
    width: 100%;
    min-height: 300px;
    font-family: monospace;
    resize: vertical;
}

#wbip-start {
    margin-top: 15px;
}

#wbip-progress {
    margin-top: 20px;
    font-weight: bold;
}
